* {
    border: none;
    border-radius: 0;
    min-height: 0;
}

window#waybar {
    background: transparent;
    color: white;
}

#window,
#clock {
    font-weight: bold;
}

#wireplumber,
#network,
#cpu,
#memory,
#battery,
#clock {
    padding: 0 5px;
}

#workspaces button {
    padding: 0 4px;
    color: white;
}

#workspaces button.active {
    color: #cba6f7;
}

#workspaces button:hover {
    box-shadow: inherit;
    text-shadow: inherit;
    background: transparent;
}

#network.disconnected {
    background: #f53c3c;
}
