* {
    border: none;
    border-radius: 0;
    min-height: 0;
}

window#waybar {
    background: transparent;
    color: @base05;
}

#window,
#clock {
    font-weight: bold;
}

#wireplumber,
#network,
#cpu,
#memory,
#battery,
#power-profiles-daemon,
#clock,
#idle-inhibitor,
#custom-vpn,
#custom-wlogout,
#custom-fnott {
    padding: 0 5px;
}

#workspaces button {
    padding: 0 4px;
}

#workspaces button.active {
    color: @base0E;
}

#workspaces button:hover {
    box-shadow: inherit;
    text-shadow: inherit;
    background: transparent;
}

#network.disconnected {
    background: @base08;
}
